/*Header###################
###################################
###################*/
header
{
display: flex;
justify-items: center;
justify-content: space-around;
font-size: calc(1rem + 1.1vw);
color: rgb(255, 255, 255);
background-color: #30343F;
grid-area: a;

}


header a img:first-child{
  padding: 2.5vw 0 0 0;
width: 367px;
}


#menuhr a ,#menuhr a:visited, #menuhr a:link{
  
  text-decoration: none;
  padding: 0 13px 0 0;
}
#menuhr{
  
  text-transform: uppercase;
user-select: none;
  display:grid;
  padding: 56px 0 0 0;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;  
  position: relative;
  z-index: 100;   
   
}
#menuhr>a
 {
    
    text-align: right;
}

#menuhr a:hover, #menuhr  a + a:hover,#menuhr  a+a + a:hover  {
  visibility: visible;
}
#menuhr a:focus + a ,#menuhr a:focus + a +a,#menuhr a:focus + a +a+a{
 
  
 
  visibility: visible;
z-index: 100  ;
}

 #menuhr :nth-child(2), #menuhr :nth-child(3), #menuhr :nth-child(4){
  grid-column-start: 1;
  grid-column-end: 1;
  text-align: center;
  text-align: left;
  padding: 14px 0 0 0;   
  
  visibility: collapse; 
  background-color:#597474da;
}

#menuhr :nth-child(2) {/* 5 6 7*/
 
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  color: red;
}

#menuhr :nth-child(3) {/* 5 6 7*/
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
  color: red;
  
}

#menuhr :nth-child(4) {/* 5 6 7*/
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 5;
  grid-row-end: 5;
  color: red;
   
}
#menuhr :nth-child(5)
{
  
  grid-column-start: 2;
  
  
}
#menuhr :nth-child(6)
{
  
  grid-column-start: 3;
  
  
}

#menuhr :nth-child(7)
{
  
  grid-column-start: 4;
  
  
}


/* #menuhr :nth-child(5){
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2 ;
  grid-row-end: 2;
  /*background-color: violet;
 }*/
  

@media only screen and (max-width:900px) {
    header
    {
    display: grid;
    justify-content: space-around;
    padding: 5dvh 0 5dvh 0;
    
    }
    
    #menuhr{
           
      padding: 0dvh 0 0dvh 0;
     
   
}
}
@media only screen and (max-width:460px) {
    

header img:first-child{
       width: 90%;
       padding: 2dvh 0 1dvh 0;
}
header img{
  width: 60%;
  padding: 2dvh 0 1dvh 0;
}
}
