/*Main###################
###################################
###################*/

main{
    display: inline-block;
    
}
 main img{
    
    width: 75%;
 }
 main>div{
    display: grid;
    grid-template-rows: (3, 1fr);
    align-items: baseline;
    font-size: 3rem;
}
main :nth-child(odd) img{
float:right;  
    width: 75%;
 }
 main :nth-child(even) img{
    float:left;  
        width: 75%;
     }
