/*General###################
###################################
###################*/
html{
Width: 99vw;
    overflow-x: hidden;
    font-size: 62.5%;/* 100% = 16px */
}
.noselec{
    user-select: none;
}

*{margin: 0px;}

.derc{
    font-size: 30px;
    color: aliceblue;
    background-color: transparent;
    border: none; 
     
        
}
/*Nav###################
###################################
###################*/
.blurx, .noblur{
    position: absolute;
}
#navx 
{


z-index: -1;
background-size: cover;   
background-image: url('../img/funkos-banner.webp');
background-position-y: 82%;
overflow:hidden;
width: 100%;
height: 388px;

}


.blurx{
    filter: blur(3px);
    width: 100%;
    height: 388px;
    background-size: cover;   
background-image: url('../img/funkos-banner.webp');
background-position-y: 82%;
overflow:hidden;
    z-index: 0;
}

#decoshop{
    border-radius: 50px;
    padding-top: 10px;
    text-align: center;
    font-family:  sans-serif;
    background-color: white;
    width: 200px;
    height: 40px;
}

.noblur,nav p{
display: inline-block;
flex-direction: column;
font-size: 3rem;
z-index: 100;
user-select: none;
}
#decoshopx{
   padding: 1.15em 0 0 3.75em; 
}






