
/*Nav###################
###################################
###################*/

.blurx, .noblur{
    position: absolute;
}
.noblur a{
z-index:100;
}
#navx 
{
    grid-area: n;
display: flex;
z-index: -1;
background-size: cover;   
background-image: url('../img/funkos-banner.webp');
background-position-y: 82%;

overflow:hidden;
width: 100vw;
height: calc(22.5rem + 10vw);

}


.blurx{
    filter: blur(3px);
    width: 100vw;
    height: calc(22.5rem + 10vw);
    background-size: cover;   
background-image: url('../img/funkos-banner.webp');
background-position-y: 82%;
overflow:hidden;
    z-index: 0;
}


.noblur{
    color: white;
    padding: calc(10vw - 2vw) 0 0 10vw;
    
}
.noblur,nav p{
display: block;
flex-direction: column;


user-select: none;
}
#decoshopx{
    
   color: black;
   padding: 4rem 0 0 0; 
}
#navx div:nth-child(2)>p:nth-child(1){
font-size: calc(2rem + 2.25vw);
}

#navx div:nth-child(2)>p:nth-child(2){
    font-size: calc(1.5rem + 0.8vw);
    }

#decoshop{
    font-size: calc(2rem + 1vw);
    border-radius: 50px;
    padding:3px 0 0 0;
    text-align: center;
    text-justify: center;
    font-family:  sans-serif;
    background-color: white;
    width: 200px;
    height: 40px;
}
