
/*Nav###################
###################################
###################*/

.blurx, .noblur{
    position: absolute;
}
.noblur a{
z-index:100;
}

#navx, .blurx{
    width: 100vw;
    height: calc(22.5rem + 10vw);
}


.noblur{
    color: white;
    padding: calc(10vw - 2vw) 0 0 10vw;
width: 100%;
  height: inherit;
 /*   backdrop-filter:blur(2px); */
}
.noblur,nav p{
user-select: none;
}
#decoshopx{
    
   color: black;
   padding: 4rem 0 0 0; 
}
.bannerTittle{
font-size: calc(2rem + 2.25vw);
}
.banerText{
    font-size: calc(1.5rem + 0.8vw);
    }

#decoshop{
    font-size: calc(2rem + 1vw);
    border-radius: 50px;
    padding:3px 0 0 0;
    text-align: center;
    text-justify: center;
    font-family:  sans-serif;
    background-color: white;
    width: 200px;
    height: 40px;
}
