body{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 144px auto auto 200px;
    grid-template-areas: "a" "b" "x1" "c";
}


section{
    display: grid;
    grid-auto-rows: auto;
    grid-area: x1;
   
}

 .prsh img:hover
 {
     height: calc(230px + 7.75vw);
     filter: drop-shadow(0px 10px 22px rgb(16, 131, 160));
 }
  
 .dibx
 {
  
     display: grid;
     grid-template-columns: auto 8fr 1fr;
     grid-template-rows: auto auto;
     text-align:center;
     align-items: center;
    
         
 }
 .dibx button
 {
  
     
     grid-column-start: 2;
     grid-column-end: 3;
         
 }
 .dibx h1{
   padding-top: 3rem;
    font-size: calc(2rem + 1.5vw);
    grid-column-start: 2;
    grid-column-end: 3;
 }

 .prsh img {
     height: calc(200px + 7.75vw);
     width: auto;
     
      
   }
   .prsh{
    display: inline-flex;
    overflow: hidden;
    overflow-x:scroll ;
   grid-column-start: 2;
   grid-column-end: 3;
   box-sizing: content-box;
    height: 485px;
  }
  .prsh a h3{
     font-weight: var(--font-bold);
     font-size:  calc(1.25rem + 0.6vw);
    
  }
 
  .prsh a h4 {
    
     font-size: calc(1.5rem + 0.8vw);
    
  }
 
 
  .prsh a {
     width: calc(235px + 7.75vw);
     text-decoration: none;
     color: black;
  }
 
  .prsh>div {
     display: grid;
     grid-column: auto;
    
     
  }
 
  .prsh a div:nth-child(4) {
     font-weight: var(--font-regular);
     font-size: calc(1.5em + 0.5vw);
     color: var(--gray1);
     
  } 
 
  .prsh a div:nth-child(5) {
     font-weight: var(--font-bold);
     font-size: calc(1.5rem + 0.5vw);
     color: var(--blue1);
    
  } 
  
  @media only screen and (max-width:650px){
 
 
    }
    @media only screen and (max-width:650px){
       .prsh img {
          height: 250px;
          width: auto;
               }
   .prsh img:hover
 {
     height: 280px;
    
 }
 .prsh{
  
    height: 400px;
 }
 
    }