#prsh img:hover
{
    height: 345px;
    filter: drop-shadow(0px 10px 30px rgb(16, 131, 160));
}

#btnprshi
{
    
    background-color: aqua;
    border: 1px solid black;
    height: 485px;
}
#btnprshd
{  
    
    
    background-color: aqua;
    border: 1px solid black;
    
    height: 485px;
}

#dibx
{
    
    display: grid;
    grid-template-columns: 3vw 1fr 3vw;
    
    
}
#btnprshi:hover
{
    filter: drop-shadow(11px 11px 11px red);
}
#btnprshd:hover
{
    filter: drop-shadow( -11px 11px 11px red);
}
#prsh img {
    height: 320px;
    width: auto;
    
     
  }
  #prsh{
    display: inline-flex;
    overflow: hidden;
    overflow-x:scroll ;
    
    width: 95vw;
    height: 485px;
 }
 #prsh div h3::before{
    font-weight: var(--font-bold);
    font-size: 2.5rem;
    content: "luna lovegood lion mask";
 }

 #prsh div h4::before {
   
    font-size: 3rem;
    content: "Star Wars Trooper";
 }


 #prsh div::before {
    width: 350px;
 }

 #prsh>div::before {
    display: grid;
    grid-column: auto;
   
    
 }

 #prsh div div:nth-child(4)::before {
    font-weight: var(--font-regular);
    font-size: 2.75rem;
    color: var(--gray1);
    content: "$ 1799,99-";
 } 

 #prsh div div:nth-child(5)::before {
    font-weight: var(--font-bold);
    font-size: 2rem;
    color: var(--blue1);
    content: "3 cuotas sin interés";
 } 
 
 @media only screen and (max-width:650px){

    #prsh div h3::before{
        font-weight: var(--font-bold);
        font-size: 1.75rem;
        content: "luna lovegood lion mask";
     }
     #prsh div h4::before {
       
        font-size: 3rem;
        content: "Star Wars Trooper";
     }
     #prsh div div:nth-child(4)::before {
        font-weight: var(--font-regular);
        font-size: 2rem;
        color: var(--gray1);
        content: "$ 1799,99-";
     } 
    
     #prsh div div:nth-child(5)::before {
        font-weight: var(--font-bold);
        font-size: 1.25rem;
        color: var(--blue1);
        content: "3 cuotas sin interés";
     } 
   }
