section{
   display: flex;
   grid-area: d;}
#prsh img:hover
{
    height: calc(230px + 7.75vw);
    filter: drop-shadow(0px 10px 22px rgb(16, 131, 160));
}


#dibx
{
    
    display: grid;
    grid-template-columns: 3vw 93vw 1fr;
    grid-template-rows: auto auto;
    text-align:center;
    align-items: center;
        
}
#dibx h1{

   font-size: calc(2rem + 1.5vw);
   grid-column-start: 2;
   grid-column-end: 3;
}
#btnprshi:hover
{
    filter: drop-shadow(11px 11px 11px red);
}
#btnprshd:hover
{
    filter: drop-shadow( -11px 11px 11px red);
}
#prsh img {
    height: calc(120px + 15vw);
    width: auto;
    
     
  }
  #prsh{
    display: inline-flex;
    overflow: hidden;
    overflow-x:scroll ;
   grid-column-start: 2;
   grid-column-end: 3;
   box-sizing: content-box;
    height: 485px;
 }
 #prsh div h3{
    font-weight: var(--font-bold);
    font-size:  calc(1.25rem + 0.6vw);
   
 }

 #prsh div h4 {
   
    font-size: calc(1.5rem + 0.8vw);
   
 }


 #prsh div {
    width: calc(235px + 7.75vw);
 }

 #prsh>div {
    display: grid;
    grid-column: auto;
   
    
 }

 #prsh div div:nth-child(4) {
    font-weight: var(--font-regular);
    font-size: calc(1.5em + 0.5vw);
    color: var(--gray1);
    
 } 

 #prsh div div:nth-child(5) {
    font-weight: var(--font-bold);
    font-size: calc(1.5rem + 0.5vw);
    color: var(--blue1);
   
 } 
 
 @media only screen and (max-width:650px){


   }
   @media only screen and (max-width:650px){
      #prsh img {
         height: 250px;
         width: auto;
              }
  #prsh img:hover
{
    height: 280px;
   
}
#prsh{
 
   height: 400px;
}

   }




