@use "mixinsfunc";

.nav {
  &__container {
    width: 90%;
    margin: 0 auto;
    height: 70px;
    @include mixinsfunc.crear-flexbox(space-evenly);
    gap: 1em;
  }
  &__item {
    color: #ffff;
    text-decoration: none;
    &--active {
      text-decoration: underline;
    }
  }
  @media (min-width: 764px) {
    &__container {
      justify-content: flex-end;
    }
  }
}
