body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  padding: 25px 0;
  align-items:center;
  }
header img{
  height: 75px;
}
h1 a{
  font-size: 40px;
}
.titulo{
  text-align: center;
  text-justify: auto;
}
.ThreeForThree{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
 padding: 15px 10vw;
}
footer{
  height: 125px;
  align-items: center;
}
footer img{
  height: 100%;
}
input{
  height: 35px;
}
.flexForm, .flexForm > div{
  display: flex;
  flex-direction: column;
}
.flexForm div *{
 margin: 5px !important;
}
.flexForm button{
 width: min-content;
 margin: 20px;
}



.App {
  text-align: center;
}

.App-logo {
 
  pointer-events: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}
@media (prefers-reduced-motion: no-preference) {
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
