div[id=mobileControls] {
     
      display: none;

  }

  input[name=zoom] {
      position: absolute;
      transform: rotate(90deg);
      left: -50px;
      top: 50%;
  }
  #hechizos{
    margin: 5px 60px;
    
  }
  #hechizos button *{
    font-size: 10px;
    height: min-content !important;
  }
  body {
      overflow: hidden;
  }

  canvas {
      background: #05b3dfb0;
      display: flex;
      
      border: 2px solid teal;
  }

  #CreatePlayer {
      width: min-content;
      margin: 30px;
  }

  #_main {
      display: flex;
      justify-content: space-between;  
  }

  #actionControls button,
  #mobileControls button {
      margin: 10px;
      min-width: calc(10vh + 5px);
      min-height: calc(10vh + 7px);
      font-size: medium;

  }

  #mobileControls,
  #actionControls {
      position: fixed;
      bottom: 1%;
      z-index: 999;
  }

  div>button,
  div>select {
      background: rgb(21, 161, 255);
      border: #222 solid 2px;
      border-radius: 7px;
      font-size: larger;
  }

  div>button:hover {
      background: rgb(21, 191, 115, 0.7);
  }

  .BTNcollapse:checked~#stats~* {
      color: blue;
      display: none;
      visibility: collapse;

  }

  .BTNcollapse:checked~#stats {
        display: block;
      color: blue;


  }

  #stats {
      display: none;
  } 
  *{
    user-select: none;
  }