/*   div[id=mobileControls] {
     
      display: none;

  }

  input[name=zoom] {
      position: absolute;
      transform: rotate(90deg);
      left: -7%;
      top: 50%;
  }

  body {
      overflow: hidden;
  }

  canvas {
      background: #222;
      display: flex;
      
      border: 2px solid teal;
  }

  #CreatePlayer {
      width: min-content;
      margin: 30px;
  }

  #_main {
      display: flex;

  }

  #actionControls button,
  #mobileControls button {
      margin: 10px;
      min-width: calc(10vh + 10px);
      min-height: calc(10vh + 10px);

  }

  #mobileControls,
  #actionControls {
      position: fixed;
      bottom: 10%;
      z-index: 999;
  }

  div>button,
  div>select {
      background: rgb(21, 161, 255);
      border: #222 solid 2px;
      border-radius: 7px;
      font-size: larger;
  }

  div>button:hover {
      background: rgb(21, 191, 115, 0.7);
  }

  .BTNcollapse:checked~#stats~* {
      color: blue;
      display: none;
      visibility: collapse;

  }

  .BTNcollapse:checked~#stats {
        display: block;
      color: blue;


  }

  #stats {
      display: none;
  } */