form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    width: min-content;

}

form>label,
form>button {
    margin: 3vh 0;

}

form > button,
form  input,
form > label {
    display: block;
    
    font-size: calc(2.25vw + 10px);
}

#menR[type="checkbox"]:checked~label::before {
    content: "Iniciar";

}

#menR[type="checkbox"]~label::before {
    display: block;
    content: "Registrar";

    text-align: center;

}

#menR {
    display: none;
}
#menR ~ ::before{
    font-size: xx-large;
}
#menR[type="checkbox"]:not(:checked)~label~.registrar {
    display: none;
}

#menR[type="checkbox"]:checked~label~ :not(.registrar) {
    display: none;
}

#menR[type="checkbox"]:checked~label::before {
    background-color: rgb(40, 62, 53);

    transition: background-color 1s ease-in-out;
}

/* Cambio de color al pasar el mouse */
#menR[type="checkbox"]~label::before {
    background-image: linear-gradient(145deg, rgb(48, 52, 63, 0.9), #050a2e59);


}
